.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightblue;
}

.marca {
    float: left;
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

